* 
    box-sizing: border-box
    margin: 0
    padding: 0
body 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
code 
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.content
    width: 100vw
    height: 100vh
    background: #aaa
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: center
main
    flex: 1 1 auto
header, footer
    width: 100%
    flex: 0 0 3rem
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    background: #999



